@use 'mixins' as m;
@use 'utils' as u;
$breakpoints: (
  mobile: 600px,
  tablet: 800px,
  laptop-sm: 1024px,
  laptop: 1240px,
  // breack opctional para cards
  cards:1340px,
  desktop-lg: 1800px
);

@mixin breakpoint($breakpoint, $direction) {

  // Get the breakpoint value.
  $breakpoint-value: map-get($breakpoints, $breakpoint);
  
  @if $direction == min {
    @media (min-width: $breakpoint-value) {
      @content;
    }
  }
} 

// tablet
.header{
  @include breakpoint(tablet,min ){

    &__nav{
      .nav__icon{
        display: none;
      }
      .nav__links{
        @include m.flex(2rem , row);
        text-align: center;
        justify-content: flex-start;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
  
  
        font-size: 1.8rem;
        &-item{
          border: none;
          padding: 0;
          
          .link{
            color: u.$VeryDarkBlue;
          }
  
          &:nth-child(4){
            .link{
              padding: 0.7rem 3rem;
              border : 2px solid transparent;
              background-color: u.$SoftRed;
              color: white;
              transition: all 0.3 ease;
  
              &:hover{
                background-color: transparent;
                color:  u.$SoftRed;
                border: 2px solid u.$SoftRed;
              }
            }
          }
        }
      }

    }
    
    &__hero{
      text-align: center;
      
      img{
        width: 80%;
      }
    }
  }
}
.main{
  @include breakpoint(tablet, min ){
    .features{

      .tabs__grid{

        .tabs__content{
          img{
            max-width: 80%;
          }
        }
      }
    }

    .download{
      margin-block: 15rem;
    }
  }
}

// laptop-sm
.header{
  @include breakpoint(laptop-sm,min ){
    &__hero{
      img{
        width: 60%;
      }
    }
  }
}
.main{
  @include breakpoint(laptop-sm, min ){
    .features{
      .tabs{

        ul{
          display: grid;
          grid-template-columns: repeat(3,1fr);
          max-width: 96rem;
          margin-inline: auto;

          .tabs__link{
            border-top: none;
            border-bottom : 1px solid u.$GrayishBlue;
            
            label{

              &::after{
                bottom: -21px;
                width: 300px;
                left: -80px;
              }
            }
          }
        }
        .tabs__grid{
  
          .tabs__content{
            img{
              max-width: 60%;
            }
          }
        }

      }
    }
  }
}
.contact{
  @include breakpoint(laptop-sm, min ){
    padding-block-end: 8rem;
    &__form{
      max-width: 50rem;
      flex-direction: row;
      position: relative;

      .input{
        width: 70%;
        input{
          width: 100%;
        }

      }
      small{
        border : 2px solid red;
        position: absolute;
        bottom: -35px;
        left: 10px;
      }
      .button{
        flex: 1;
      }
    }
  }
}
.footer{
  @include breakpoint(laptop-sm, min){
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-inline: 5%;
  }
}

// laptop

.header{
  @include breakpoint(laptop,min ){

    height: 92vh;
    &__nav{
      .nav__links{
        gap: 5rem;
      }
    }

    &__hero{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      column-gap: 12rem;

      .hero__texts{
        align-items: flex-start;
        text-align: left;
        grid-column: 1 / 2;
        grid-row: 1/2;

        .title{
          font-size: 5rem;
        }

        .paragraph{
          padding: 0;
          text-align: left;
        }
        .hero__actions{
          justify-content: flex-start;


        }

      }
      img{
        grid-column:  2 /3;
        grid-row: 1/2;
        width: 120%;
        justify-self: center;
        align-self: center;
      }
    }
  }
}
.main{
  @include breakpoint(laptop, min){
    .features{

      .tabs{
        
        .tabs__grid{
  
          .tabs__content{
            flex-direction: row;
            gap: 8rem;
            text-align: left;

            .paragraph{
              text-align: left;
            }
            img{
              max-width: 40%;
            }
          }
        }

      }
    }
  }
}
.footer{
  @include breakpoint(laptop,min){
    padding-block: 5rem;
    &__links{
      flex-direction: row;
      gap: 8rem;
    }

    &__social{
      gap: 5rem;
    }
  }
}


// cards{
.header{
  @include breakpoint(cards,min ){
    &__nav{
      padding-inline: 0;
    }
  }
}
.main{
  @include breakpoint(cards, min){
    .download{
      // border : 2px solid red;
      
      .cards{
        .card{
          max-width: 32.5rem;
          &:nth-of-type(2){
            margin-top: 8rem;
          }
          &:nth-of-type(3){
            margin-top: 16rem;
          }

        }
      }
    }

  }

}